/* index.html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    max-width: 100%;
}

/* BODY Grid Container */
.grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* HEADER */
header {
    width: 100%;
    height: 100%;
}

.gridContainerNav {
    display: grid;
    grid-template-areas:
        "logoHeader buscadorNav menuNavegacionPersonal"
        "menuNavegacionCompra menuNavegacionCompra menuNavegacionCompra";
    max-width: 100%;
}

/* Logo */
.logoHeader img {
    width: 180px;
    height: 160px;
}

.logoHeader {
    grid-area: logoHeader;
    display: flex;
    justify-content: center;
}

/* Buscador */
.buscadorNav {
    grid-area: buscadorNav;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscadorNav form {
    background: #FBE3D9;
    padding: 10px 18px 10px 18px;
    border-radius: 20px;
    width: 400px;
    height: 40px;
}

.buscadorNav form input {
    border: none;
    background: transparent;
    padding-right: 160px;
    outline: none;
    font-size: 14px;
}

.buscadorNav .fa-solid {
    color: #5C5D60;
    padding-top: 3px;
    padding-right: 15px;
}

/*Navegacion personal*/
.menuNavegacionPersonal {
    grid-area: menuNavegacionPersonal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menuNavegacionPersonal a {
    color: #5C5D60;
    text-decoration: none;
    font-size: large;
    margin: 25px;
}

.menuNavegacionPersonal .fa-solid {
    padding-right: 8px;
    font-size: 20px;
}

/* Navegacion compra */
.menuNavegacionCompra {
    grid-area: menuNavegacionCompra;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 160px 10px 160px;
    background: #FBE3D9;
    display: flex;
    justify-content: space-evenly;
}

.menuNavegacionCompra a {
    color: #5C5D60;
    font-size: 20px;
}

.menuNavegacionCompra a:hover {
    text-decoration: underline;
}

/* MAIN */
.gridContainerMain {
    display: grid;
    grid-template-areas:
        "seccionBannersPublicitarios"
        "seccionProductosNuevos"
        "seccionProductosMarcas"
        "seccionPagos";
}

/* Banners publicitarios */
.seccionBannersPublicitarios {
    grid-area: seccionBannersPublicitarios;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imagenBanner {
    width: 95vw;
    max-width: 1100px;
    min-width: 400px;

}

.imagenBanner img {
    width: 100%;
}

/* Exhibición aleatoria de indumentaria nueva */
.seccionProductosNuevos {
    grid-area: seccionProductosNuevos;
}

.tituloProductosNuevos h1 {
    text-align: center;
    margin-bottom: 15px;
}

.articuloProductosNuevos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.articuloProductosNuevos img {
    width: 220px;
    height: 260px;
}

/* Exhibicón aleatoria de indumentaria dependiendo de la marca seleccionada */
.seccionProductosMarcas {
    grid-area: seccionProductosMarcas;
}

.tituloMarcas h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.logosMarcas {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.indumentariasMarcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.indumentariasMarcas img {
    width: 220px;
    height: 260px;
}

/* Sección para informar sobre los medios de pago */
.seccionPagos {
    grid-area: seccionPagos;
}

.tituloPagos h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.logosPagos {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* FOOTER */
.gridContainerFooter {
    display: grid;
    grid-template-areas:
        "navFooter navFooter"
        "botonTop botonTop";
    background-color: #FBE3D9;
}

/* Menu de navegacion Footer */
.navFooter {
    grid-area: navFooter;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Medios institucionales */
.datosInstitucionales {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datosInstitucionales a {
    margin-top: 5px;
    color: #5C5D60;
}

.datosInstitucionales a:hover {
    text-decoration: underline;
}

.institucional a {
    text-decoration: none;
}

/* Ayuda al cliente */
.datosAyuda {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datosAyuda a {
    margin-top: 5px;
    color: #5C5D60;
}

.datosAyuda a:hover {
    text-decoration: underline;
}

.ayuda a {
    text-decoration: none;
}

/* Redes sociales */
.datosRedesSociales {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datosRedesSociales a {
    margin-top: 5px;
    color: #5C5D60;
}

.datosRedesSociales a:hover {
    text-decoration: underline;
}

.datosRedesSociales .fa-brands {
    padding-right: 8px;
    font-size: 20px;
}

.redesSociales a {
    text-decoration: none;
}

/* Medios de contacto/atención al ciente */
.datosAtencionAlCliente {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datosAtencionAlCliente a {
    margin-top: 5px;
    color: #5C5D60;
}

.datosAtencionAlCliente a:hover {
    text-decoration: underline;
}

.atencionAlCliente a {
    text-decoration: none;
}

/* Boton top */
.botonTop {
    grid-area: botonTop;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: end;
    margin-right: 130px;
    margin-bottom: 15px;
}

.botonTop .fa-solid {
    color: #5C5D60;
    font-size: 35px;
}

/* General */
.botonVolver {
    margin-top: 30px;
    margin-left: 30px;
    width: 218px;
}

.botonVolver:hover {
    text-decoration: underline;
}

.botonVolver a {
    color: #5C5D60;
    font-size: 18px;
}

.tituloPags {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
}

.bolsaCarrito {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 40px;
}

.textoCarrito {
    text-align: center;
    margin-bottom: 140px;
    margin-top: -20px;
}

/* micuenta.html */
.tituloForm {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contacto {
    display: flex;
    justify-content: center;
}

.formularioDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBE3D9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.datosCorreo {
    margin-bottom: 15px;
}

.datosCorreo input {
    padding-bottom: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 1px solid #5C5D60;
    width: 300px;
}

.datosContraseña {
    margin-bottom: 15px;
}

.datosContraseña input {
    padding-bottom: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 1px solid #5C5D60;
    width: 300px;
}

.datosCheckbox {
    margin-top: 10px;
}

.datosCheckbox a {
    color: #5C5D60;
    text-decoration: underline;
}

.botonSubmit {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botonSubmit button {
    cursor: pointer;
    background: #FBE3D9;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}

/* contactoviaemail.html */

.formularioContactoDatos {
    display: grid;
    grid-template-areas: 
    "datosIzquierda datosDerecha"
    "datosCheckbox datosCheckbox";
    gap: 20px;
    background-color: #FBE3D9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.datosIzquierda{
    grid-area: datosIzquierda;
}

.datosIzquierda input{
    outline: none;
    background: transparent;
    border: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #5C5D60;
    padding-bottom: 10px;
    font-size: 15px;
    width: 300px;
}

.datosDerecha{
    grid-area: datosDerecha;
}

.datosDerecha input{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #5C5D60;
    padding-bottom: 10px;
    font-size: 15px;
    width: 300px;
}

.botonEnviarCorreo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botonEnviarCorreo button {
    cursor: pointer;
    background: #FBE3D9;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}

/* preguntasfrecuentes.html */

.preguntasDestacadas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.preguntasDestacadas div{
    margin: 20px;
}

.parrafoInfo{
    margin: 60px;
}

/* politicasdeprivacidad.html */

.parrafoPoliticas p{
    margin: 60px;
}

/* terminosycondiciones.html */

.parrafoTerminos p{
    margin: 60px;
}

/* pagosypromociones.html */
.containerPagos{
    display: flex;
    justify-content: center;
    margin: 60px;
}

.containerGridPagos{
    display: grid;
    grid-template-areas: 
    "tituloCredito"
    "credito"
    "tituloDebito"
    "debito"
    "tituloMercadoPago"
    "mercadoPago";
    gap: 40px;
}

.tituloCredito{
    grid-area: tituloCredito;
}

.credito{
    grid-area: credito;
    display: flex;
    flex-wrap: wrap;
}

.tituloDebito{
    grid-area: tituloDebito;
}

.debito{
    grid-area: debito;
    display: flex;
    flex-wrap: wrap;
}

.tituloMercadoPago{
    grid-area: tituloMercadoPago;
}

.mercadoPago{
    grid-area: mercadoPago;
    display: flex;
}

.containerPagos img{
    width: 200px;
    height: 150px;
}

/* newin.html */
.containerGridnewin{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "filtroArticulos articulos"
    "filtroArticulos articulos"
    "filtroArticulos articulos"
    "paginasNum paginasNum";
}

.filtroArticulos{
    grid-area: filtroArticulos;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.filtroArticulos div{
    margin: 20px 0px 20px 20px;
}

.tituloFiltro{
    background-color: #FBE3D9;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.columnaIndumentarias{
    background-color: #FBE3D9;
    border-radius: 20px;
}

.columnaIndumentarias div{
    display: flex;
    flex-direction: column;
}

.filtroArticulos p{
    margin-top: 20px;
}

.filtroArticulos p:hover{
    cursor: pointer;
}

.articulos{
    grid-area: articulos;
}

.articulos div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.paginasNum{
    grid-area: paginasNum;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.articulos img {
    width: 180px;
    height: 220px;
}

/* marcas.html */
.presentacionLogosMarcas{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.presentacionLogosMarcas img{
    padding: 60px;
}